doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Babies Register
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css')
  script(src='https://kit.fontawesome.com/ae360af17e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/sittersRegister.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css')

.wrapper
  aside#sidebar.js-sidebar.bg-dark
    // Content For Sidebar
    .h-100
      .sidebar-logo
        a(href='#') DayStar DayCare
      ul.sidebar-nav
        li.sidebar-header
          | ADMIN
        li.sidebar-item
          a.sidebar-link.text-bg-success(href='#')
            i.fa-solid.fa-list.pe-2
            |                             Dashboard
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#pages' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                            Manage  Babies
          ul#pages.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/babiesRegister') Register new Child
            li.sidebar-item
              a.sidebar-link(href='/babies') View All Children
            li.sidebar-item
              a.sidebar-link(href='/babyClockIn') Clocked-In Children
            li.sidebar-item
              a.sidebar-link(href='/clockingOutList') Clocked-Out Children
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#pages' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                           Manage Sitters
          ul#pages.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/sittersRegister') Register new Sitter
            li.sidebar-item
              a.sidebar-link(href='/sitters') View All Sitters
            li.sidebar-item
              a.sidebar-link(href='/sittersPresent') Present Sitters
            li.sidebar-item
              a.sidebar-link(href='/sittersAbsent') Absent Sitters
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#posts' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                           Manage Procurement
          ul#posts.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/procurementRegister') Register New Procurement Item
            li.sidebar-item
              a.sidebar-link(href='/procurementView') View Procurement Items
            li.sidebar-item
              a.sidebar-link(href='/itemAvailableRegistered') Available Items
            li.sidebar-item
              a.sidebar-link(href='/itemFinishedRegistered') Finished Items
        li.sidebar-item
          a.sidebar-link.collapsed.text-bg-light(href='#' data-bs-target='#posts' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-solid.fa-file-lines.pe-2
            |                             Reports & Analytics
          ul#posts.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='#') Reports
            li.sidebar-item
              a.sidebar-link(href='#') Revenue
            li.sidebar-item
              a.sidebar-link(href='#') Expenses
        li.sidebar-item
          a.sidebar-link.collapsed(href='#' data-bs-target='#auth' data-bs-toggle='collapse' aria-expanded='false')
            i.fa-regular.fa-user.pe-2
            |                             Auth
          ul#auth.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
            li.sidebar-item
              a.sidebar-link(href='/login') Login
            li.sidebar-item
              a.sidebar-link(href='/createAccount') Register Admin
            li.sidebar-item
              a.sidebar-link(href='#') Forgot Password
  .main
    nav.navbar.navbar-expand.px-3.border-bottom
      button#sidebar-toggle.btn(type='button')
        span.navbar-toggler-icon
      .navbar-collapse.navbar
        ul.navbar-nav
          li.nav-item.dropdown
            a.nav-icon.pe-md-0(href='#' data-bs-toggle='dropdown')
              img.avatar.img-fluid.rounded(src='/images/lady-teacher.jpeg' alt='')
            .dropdown-menu.dropdown-menu-end
              a.dropdown-item(href='/dashboard') Home
              a.dropdown-item(href='/welcome') Contact
              a.dropdown-item(href='/logout') Logout
    main.content.px-3.py-2
      .container-fluid
        h1.text-center.my-6.text-bg-success.text-light List Of Children Registered
        table.table.table-striped
          thead
            tr
              th Name
              th Date Of Birth
              th Age
              th Gender
              th Parent Names
              th Contact
              th Address
              th Paid Fee(UGX):
              th Child Number:
              th Status:
              th Clock-In:
              th Clock-Out:
              th Update:
              th Delete:
          tbody
            if babies.length 
              each baby in babies
                tr
                  td #{baby.name}
                  td #{moment(baby.dob).format("DD-MM-YY")}
                  td #{baby.age}
                  td #{baby.gender}
                  td #{baby.parentNames}
                  td #{baby.contact}
                  td #{baby.address}
                  td #{baby.paidFee}
                  td #{baby.childNumber}
                  td.status-class.text-center.text-light.text-bg-success #{baby.status} 
                  td 
                    a.btn.btn-primary.btn-block.btn-light(href= "/babyClockIn/"+ baby._id) Clock-in
                  td 
                    a.btn.btn-primary.btn-block.btn-secondary.text-light(href= "/ClockingOut/"+ baby._id) Clock-Out   
                  td 
                    a.btn.btn-block.i.bi.bi-pencil-square.btn-success(href= "/babiesUpdate/"+ baby._id)
                  td 
                    form(method="POST" action="/delete")
                      input(type="hidden" name="id" value=baby._id)
                      button.btn.btn-block.i.bi.bi-trash3.btn-danger(type="submit")

    a.theme-toggle(href='#')
      i.fa-regular.fa-moon
      i.fa-regular.fa-sun
    footer.footer
      .container-fluid
        .row.text-muted
          .col-6.text-start
            p.mb-0
              a.text-muted(href='#')
                strong
                  p &copy; 2024 All Rights Reserved. DayStar Daycare &amp; kindergarten 
          .col-6.text-end
            ul.list-inline
              li.list-inline-item
                a.text-muted(href='#') Contact
              li.list-inline-item
                a.text-muted(href='#') About Us
              li.list-inline-item
                a.text-muted(href='#') Terms
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js')
script(src='/js/sitters.js')











                  